{{#each posts as |post|}}
    <div class='md:w-5/12'>
        <p class='mb-2'>
        {{post.title}}
        </p>
    </div>
    <div class='md:w-7/12'>
        <p class='mb-2'>
        {{post.body}}
        </p>
    </div>
{{/each}}